.ddsmoothmenu-v ul{
margin: 0;
padding: 0;
width: 260px; /* Main Menu Item widths */
list-style-type: none;
font: bold 12px Verdana;

/*margin-left:5px;*/
}
 
.ddsmoothmenu-v ul li{
position: relative;
}

/* Top level menu links style */
.ddsmoothmenu-v ul li a{
display: block;
overflow: auto; /*force hasLayout in IE7 */
color: #003066;
text-decoration: none;
padding: 6px;
/*border-top:1px solid #003066;*/
border-bottom: 1px solid #003066;
/*border-left: 1px solid #003066;*/
/*border-right: 1px solid #003066;*/
}

.ddsmoothmenu-v ul li a:link, .ddsmoothmenu-v ul li a:visited, .ddsmoothmenu-v ul li a:active{
background: #ffffff; /*background of menu items (default state)*/
color: #003066;
}


.ddsmoothmenu-v ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background: #ffffff; 
color: #003066;
}

.ddsmoothmenu-v ul li a:hover{
background: #003066; /*background of menu items during onmouseover (hover state)*/
color: white;
}

/*Sub level menu items */
.ddsmoothmenu-v ul li ul{
position: absolute;
width: 260px; /*Sub Menu Items width */
top: 0;
font-weight: normal;
visibility: hidden;
border-top:1px solid #003066;
/*border-bottom: 1px solid #003066;*/
border-right: 1px solid #003066;
border-left: 1px solid #003066;
}

 
/* Holly Hack for IE \*/
* html .ddsmoothmenu-v ul li { float: left; height: 1%; }
* html .ddsmoothmenu-v ul li a { height: 1%; }
/* End */